
\.vs/

**/bin/

**/obj/

QuineMcCluskey-GraficoC/bin/Debug/QuineMcCluskey-GraficoC\.exe

QuineMcCluskey-GraficoC/bin/Debug/QuineMcCluskey-GraficoC\.exe\.config

QuineMcCluskey-GraficoC/bin/Debug/QuineMcCluskey-GraficoC\.pdb

QuineMcCluskey-GraficoC/obj/

QuineMcCluskey-GraficoC/bin/
